---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

    <div class="project-col-wrapper">
        <div class="project-col project-3col">
            <ul class="social-media-list">
                <li>{{ page.col1 }}</li>
            </ul>
        </div>
        <div class="project-col project-3col">
            <ul class="social-media-list">
                <li>{{ page.col2 }}</li>
            </ul>
        </div>
        <div class="project-col project-3col">
            <ul class="social-media-list">
                <li>{{ page.col3 }}</li>
            </ul>
        </div>
    </div>

{% for project in site.projects do%}
<div class="site-footer">

</div>
    <div class="project-col-wrapper">
        <div class="project-col project-3col">
            <ul class="social-media-list">
                <li>{{ project.title }}</li>
            </ul>
        </div>
      {% assign contentArray = project.content | markdownify | split: site.column_separator %}
      {% for items in contentArray do %}
      <div class="project-col project-3col">
        <ul class="social-media-list">
            {% assign itemArray = items | split: site.item_separator %}
            {% for item in itemArray do %}
            <li>{{ item }}</li>
            {% endfor %}
        </ul>
      </div>
      {% endfor %}

  </div>
{% endfor %}

</article>
